<ion-header>
    <ion-navbar color="dark">
      <ion-buttons right>
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button> 
      </ion-buttons>     
      <ion-row>
        <ion-col text-center>
          <img src="assets/imgs/logoNavBar.png" style="width: 30%"/>
        </ion-col>
      </ion-row>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    
    <div style="overflow: scroll">
      <img src="assets/imgs/fundoCantina.png" style="width: 100%;"/>

      <accordion *ngFor="let tipo of cantina" [title]="tipo.item" [corItem]="tipo.corItem">
        <ion-row *ngFor="let dado of tipo.dados" style="margin-bottom: -5px; margin-bottom: -5px">
          <ion-col col-9 text-left style="color:#54357F">
            {{ dado.conteudo }}
          </ion-col>
          <ion-col text-right style="color:#A3A3A3">
            {{ dado.preco }}
          </ion-col>
        </ion-row>
      </accordion>

    </div>   
  </ion-content>
  