<ion-header>
  <ion-navbar color="dark">
    <ion-buttons right>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button> 
    </ion-buttons>     
    <ion-row>
      <ion-col text-center>
        <img src="assets/imgs/logoNavBar.png" style="width: 30%"/>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <div style="overflow: scroll">
    <img src="assets/imgs/fundoSemana.png" style="width: 100%;"/>
    <ion-slides>
      <ion-slide>
        <ion-row>
          <ion-col col-2>

          </ion-col>
          <ion-col col-8>
            <div style="margin-top: 1px; font-size: 110%; font-weight: bold">Segunda-feira, {{ dataSegunda }}</div>
          </ion-col>
          <ion-col col-2 (tap)="proximoDia()">
            <ion-icon style="font-size: 30px" name="ios-arrow-forward-outline"></ion-icon>
          </ion-col>
        </ion-row>
        <accordion *ngFor="let dia of segunda" [title]="dia.item" [corItem]="dia.corItem">
          <ion-item>
            {{ dia.conteudo }}
          </ion-item>
        </accordion>
      </ion-slide>

      <ion-slide>
        <ion-row>
          <ion-col col-2 (tap)="diaAnterior()">
            <ion-icon style="font-size: 30px" name="ios-arrow-back-outline"></ion-icon>
          </ion-col>
          <ion-col col-8>
            <div style="margin-top: 1px; font-size: 110%; font-weight: bold">Terça-feira, {{ dataTerca }}</div>
          </ion-col>
          <ion-col col-2 (tap)="proximoDia()">
            <ion-icon style="font-size: 30px" name="ios-arrow-forward-outline"></ion-icon>
          </ion-col>
        </ion-row>
        <accordion *ngFor="let dia of terca" [title]="dia.item" [corItem]="dia.corItem">
          <ion-item>
            {{ dia.conteudo }}
          </ion-item>
        </accordion>      
      </ion-slide>

      <ion-slide>
        <ion-row>
          <ion-col col-2 (tap)="diaAnterior()">
            <ion-icon style="font-size: 30px" name="ios-arrow-back-outline"></ion-icon>
          </ion-col>
          <ion-col col-8>
            <div style="margin-top: 1px; font-size: 110%; font-weight: bold">Quarta-feira {{ dataQuarta }}</div>
          </ion-col>
          <ion-col col-2 (tap)="proximoDia()">
            <ion-icon style="font-size: 30px" name="ios-arrow-forward-outline"></ion-icon>
          </ion-col>
        </ion-row>
        <accordion *ngFor="let dia of quarta" [title]="dia.item" [corItem]="dia.corItem">
          <ion-item>
            {{ dia.conteudo }}
          </ion-item>
        </accordion>      
      </ion-slide>

      <ion-slide>
        <ion-row>
          <ion-col col-2 (tap)="diaAnterior()">
            <ion-icon style="font-size: 30px" name="ios-arrow-back-outline"></ion-icon>
          </ion-col>
          <ion-col col-8>
            <div style="margin-top: 1px; font-size: 110%; font-weight: bold">Quinta-feira, {{ dataQuinta }}</div>
          </ion-col>
          <ion-col col-2 (tap)="proximoDia()">
            <ion-icon style="font-size: 30px" name="ios-arrow-forward-outline"></ion-icon>
          </ion-col>
        </ion-row>
        <accordion *ngFor="let dia of quinta" [title]="dia.item" [corItem]="dia.corItem">
          <ion-item>
            {{ dia.conteudo }}
          </ion-item>
        </accordion>      
      </ion-slide>

      <ion-slide>
        <ion-row>
          <ion-col col-2 (tap)="diaAnterior()">
            <ion-icon style="font-size: 30px" name="ios-arrow-back-outline"></ion-icon>
          </ion-col>
          <ion-col col-8>
            <div style="margin-top: 1px; font-size: 110%; font-weight: bold">Sexta-feira, {{ dataSexta }}</div>
          </ion-col>
          <ion-col col-2>
            
          </ion-col>
        </ion-row>
        <accordion *ngFor="let dia of sexta" [title]="dia.item" [corItem]="dia.corItem">
          <ion-item>
            {{ dia.conteudo }}
          </ion-item>
        </accordion>      
      </ion-slide> 
    </ion-slides>
  </div>   
</ion-content>
